Repository savvagen/artillery-poc-project, changes with the labels that .github/labeler.yml gives for each.
All labels: theme:workflow, theme:config, theme:core, theme:test

Github workflow commit
  .github/workflows/build.yml
  .gitignore
  src/config/capacity.config.yaml
  src/config/debug.config.yaml
  src/config/load.config.yaml
  src/scenarios/data.yaml
Labels: theme:workflow, theme:config, theme:test

fixed datadog agent deployment
  .github/workflows/build.yml
Labels: theme:workflow

fixed datadog agent deployment
  src/scenarios/data.yaml
Labels: theme:test

fixed datadog agent deployment
  .github/workflows/build.yml
  src/config/capacity.config.yaml
  src/config/debug.config.yaml
  src/config/load.config.yaml
  src/scenarios/data.yaml
Labels: theme:workflow, theme:config, theme:test

fixed datadog agent deployment
  .github/workflows/build.yml
  src/config/capacity.config.yaml
  src/config/debug.config.yaml
  src/config/load.config.yaml
  src/scenarios/system.yaml
Labels: theme:workflow, theme:config, theme:test

fixed datadog agent deployment
  src/scenarios/data.yaml
Labels: theme:test

fixed datadog agent deployment
  README.md
Labels: none

updated artillery datadog dashboard
  compose/metrics/datadog/dashboards/ArtilleryDetailed.json
Labels: none

updated artillery datadog dashboard
  compose/metrics/datadog/dashboards/ArtilleryDetailed.json
  src/config/capacity.config.yaml
  src/scenarios/system.yaml
Labels: theme:config, theme:test

updated artillery datadog dashboard
  src/config/capacity.config.yaml
  src/config/debug.config.yaml
  src/config/load.config.yaml
  src/plugins/artillery-plugin-datadog-advanced-metrics/index.js
  src/scenarios/system.yaml
Labels: theme:config, theme:test

updated artillery datadog dashboard
  compose/metrics/datadog/dashboards/ArtilleryDetailed.json
  src/plugins/artillery-plugin-datadog-advanced-metrics/index.js
Labels: none

updated artillery datadog dashboard
  src/plugins/artillery-plugin-datadog-advanced-metrics/index.js
Labels: none

updated artillery datadog dashboard
  src/plugins/artillery-plugin-datadog-advanced-metrics/index.js
Labels: none

code refactoring
  .github/workflows/build.yml
  compose/json_server/README.md
  compose/metrics/datadog/README.md
  compose/metrics/datadog/docker-compose.yml
  package-lock.json
  src/config/load.config.yaml
Labels: theme:workflow, theme:config

code refactoring
  src/config/debug.config.yaml
Labels: theme:config

final version
  compose/metrics/datadog/docker-compose.yml
  src/config/load.config.yaml
Labels: theme:config

final version
  src/scenarios/data.yaml
Labels: theme:test

v2 migration
  package-lock.json
  package.json
  src/data/data_genrator.js
  src/plugins/artillery-plugin-datadog-advanced-metrics/index.js
  src/processors/main.js
  src/scenarios/system.yaml
Labels: theme:config, theme:core, theme:test

v2 migration
  README.md
  compose/json_server/docker-compose.yml
  compose/metrics/datadog/dashboards/artillery_v1_detailed.json
  compose/metrics/datadog/dashboards/artillery_v2_detailed.json
  compose/metrics/datadog/docker-compose.yml
  package-lock.json
  package.json
  src/data/data_genrator.js
  src/plugins/artillery-plugin-advanced-metrics/index.js
  src/processors/main.js
  src/scenarios/system.yaml
Labels: theme:config, theme:core, theme:test

v2 migration
  src/config/debug.config.yaml
Labels: theme:config

v2 migration
  src/config/debug.config.yaml
Labels: theme:config

v2 migration
  .github/workflows/build.yml
  src/scenarios/system.yaml
Labels: theme:workflow, theme:test

v2 migration
  .github/workflows/build.yml
  src/config/debug.config.yaml
Labels: theme:workflow, theme:config

v2 migration
  src/config/load.config.yaml
  src/scenarios/plugin.yaml
Labels: theme:config, theme:test

v2 migration
  src/scenarios/system.yaml
Labels: theme:test

v2 migration
  compose/metrics/datadog/dashboards/artillery_v2_detailed.json
  src/scenarios/system.yaml
Labels: theme:test

v2 migration
  src/scenarios/system.yaml
Labels: theme:test

v2 migration
  compose/metrics/datadog/dashboards/artillery_v2_detailed.json
  src/scenarios/system.yaml
Labels: theme:test

v2 migration
  compose/metrics/datadog/dashboards/artillery_v2_detailed.json
  package-lock.json
  package.json
Labels: theme:config

v2 migration
  compose/metrics/datadog/dashboards/artillery_v2_detailed.json
  package-lock.json
  package.json
Labels: theme:config

v2 migration
  package-lock.json
  package.json
  src/config/capacity.config.yaml
  src/config/debug.config.yaml
  src/config/load.config.yaml
  src/plugins/artillery-plugin-advanced-metrics/index.js
  src/plugins/artillery-plugin-ensure-shutdown/README.md
  src/plugins/artillery-plugin-ensure-shutdown/index.js
  src/processors/main.js
  src/scenarios/system.yaml
Labels: theme:config, theme:core, theme:test

v2 migration
  .github/workflows/build.yml
Labels: theme:workflow

v2 migration
  src/processors/main.js
Labels: theme:core

v2 migration
  compose/metrics/datadog/dashboards/artillery_v2_detailed.json
  compose/metrics/datadog/docker-compose.yml
  package-lock.json
  package.json
  src/config/capacity.config.yaml
  src/plugins/artillery-plugin-advanced-metrics/index.js
  src/scenarios/system.yaml
Labels: theme:config, theme:test

v2 migration
  compose/metrics/datadog/dashboards/artillery_v2_detailed.json
  src/plugins/artillery-plugin-advanced-metrics/index.js
Labels: none

v2 migration
  compose/metrics/datadog/dashboards/artillery_v2_detailed.json
Labels: none

v2 migration
  .github/workflows/build.yml
  compose/metrics/datadog/dashboards/artillery_v2_detailed.json
Labels: theme:workflow

v2 migration
  README.md
  artillery-engine-custom/index.js
  package-lock.json
  package.json
  src/processors/custom.js
  src/processors/test.js
  src/scenarios/engine.yaml
Labels: theme:config, theme:core, theme:test

v2 migration
  src/processors/custom.js
  src/scenarios/engine.yaml
Labels: theme:core, theme:test

v2 migration
  src/plugins/artillery-plugin-advanced-metrics/index.js
  src/processors/test.js
Labels: theme:core

.github/labeler.yml:

theme:workflow:
  - ".github/**"

theme:config:
  - "src/config/**"
  - "package.json"
  - ".gitignore"

theme:core:
  - "src/processors/*"

theme:test:
  - "src/scenarios/*"
